<ul class="pagination mt-4">
    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
        <a class="page-link" href="/service?page={{ current_page - 1 }}">   Previous</a>
    </li>
    {% for i in range(1, pages+1) %}
    <li class="page-item {% if i == current_page %}active{% endif %}">
        <a class="page-link" href="/service?page={{i}} ">{{i}}</a>
    </li>
    {% endfor %}
  <li class="page-item {% if current_page == pages %}disabled{% endif %}">
      <a class="page-link" href="/service?page={{ current_page + 1 }}">Next</a>
  </li>
</ul>