{% extends 'admin/master.html' %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<div class="information-container shadow">
    <h1 class="my-3 text-info fw-bold">THÔNG TIN TÀI KHOẢN</h1>
    <div class="row my-3">
        <div class="d-block col-md-6 text-align-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-2">Họ và tên:
                        <span class="fw-bold">{{ user.name }}</span>
                    </div>
                    <div class="p-2">SĐT:
                        <span class="fw-bold">{{ user.phone_number }}</span>
                    </div>
                    <div class="p-2">Địa chỉ:
                        <span class="fw-bold">{{ user.address }}</span>
                    </div>
                    <div class="p-2">Chức vụ:
                        <span class="fw-bold">{{ user.role.value }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-2">Trạng thái tài khoản:
                        <span class="fw-bold">{{ user.isActive() }}</span>
                    </div>
                    {% if user.isEmployee %}
                    <div class="p-2" >Tình trạng:
                       <span class="fw-bold">{{ user.isEmployee }}</span>
                    </div>
                    {% endif %}
                    <div class="p-2">Tuổi:
                        <span class="fw-bold">{{ age }}</span>
                    </div>
                    <div class="p-2">Ngày tạo tài khoản:
                        <span class="fw-bold">{{ user.created_date }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block col-md-6">
            <img src="{{ current_user.avatar }}" class="mx-auto d-block" width="250px" height="250px">
        </div>
    </div>
</div>
{% include 'admin/stats.html' %}
<div class="row mt-5">
    <div class="col-md-6 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Loại dịch vụ</th>
                <th>Số lượng dịch vụ</th>
            </tr>
            </thead>
            <tbody>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-xs-12 shadow">
        <canvas id="myCategoryChart"></canvas>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [];
    let data = [];

    {% for s in stats %}
        labels.push('{{ s[1] }}')
        data.push('{{ s[2] }}')
    {% endfor %}
    window.onload = () => {
        const ctx = document.getElementById('myCategoryChart');
        const myChart =  new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Thống kê dịch vụ theo danh mục',
                    data: data,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        })
    }

</script>

</div>

{% endblock %}