{%extends 'information-user/base.html' %}
{% block title %}Đổi mật khẩu{% endblock %}
{% block content %}
<h1 class="text-primary my-3">ĐỔI MẬT KHẨU</h1>
<div class="d-flex justify-content-center">

    <form method="post" action="/change_password" class="flex-fill" style="margin: 0 10rem">
        <div class="mb-3 mt-3">
            <label for="old-password" class="form-label">Nhập mật khẩu:</label>
            <input type="password" class="form-control" id="old-password" placeholder="Nhập mật khẩu" name="old-password">
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label">Nhập mật khẩu mới:</label>
            <input type="password" class="form-control" id="new-password" placeholder="Nhập mật khẩu mới:" name="new-password">
        </div>
        <div class="mb-3">
            <label for="confirm_new-password" class="form-label">Nhập lại mật khẩu mới:</label>
            <input type="password" class="form-control" id="confirm_new-password" placeholder="Nhập lại mật khẩu mới:" name="new-password">
        </div>
        <div class="btn-box d-flex justify-content-end">
            <button type="reset" class="btn btn-secondary mx-2 fs-5">Hủy bỏ</button>
            <button type="submit" class="btn btn-danger mx-2 fs-5">Xác nhận</button>
        </div>
    </form>

</div>
{% endblock %}