{%extends 'information-user/base.html' %}
{% block title %}Thông tin tài khoản{% endblock %}
{% block content %}
<div class="title d-flex gap-3 align-items-center justify-content-between">
    <h1 class="text-primary my-3">THÔNG TIN TÀI KHOẢN</h1>
    <button class="btn btn-primary px-4 py-2 me-5" data-bs-toggle="modal" data-bs-target="#myModal">Thay đổi thông tin
    </button>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thay đổi thông tin</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form method="post" action="/{{current_user.username}}?tab=information">
                    <!-- Modal body -->
                    <div class="modal-body">
                        Modal body..
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row my-3 fs-5">
    <div class=" col-md-8">
        <div class="row">
            <div class="col-6">
                <div class="p-2"><span class="fw-bold">Họ và tên: </span>{{current_user.name}}</div>
                <div class="p-2"><span class="fw-bold">Tên tài khoản: </span>{{current_user.username}}</div>
                <div class="p-2"><span class="fw-bold">SĐT: </span>{{current_user.phone_number}}:</div>
                <div class="p-2"><span class="fw-bold">Địa chỉ: </span>{{current_user.address}}</div>
            </div>
            <div class="col-6">
                <div class="p-2"><span class="fw-bold">Giới tính: </span>{{current_user.gender}}</div>
                <div class="p-2"><span class="fw-bold">Tuổi: </span>{{age}}</div>
                <div class="p-2"><span class="fw-bold">Ngày tạo tài khoản: </span>{{current_user.created_date}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="#" class="mx-auto d-block">
    </div>
</div>
<div>
    <hr class="dropdown-divider">
</div>

<h2 class="text-muted">THÔNG TIN ĐẶT LỊCH</h2>

{% endblock %}
