@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box}

body {
    font-family: 'Roboto', sans-serif;
}

/*.menu li {*/
/*    padding: 10px;*/
/*}*/

.menu a {
    display: block;
    padding: 20px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.menu a.active, .menu a:hover {
    background-color: #007bff;
    color: white;
}