@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    font-size: 1.5rem
}

a.navbar-homepage {
    font-size: 2rem;
    color: #18bdf0;
    text-decoration: none;
    padding-right: 10px;
}
.navbar button {
    font-size: 1.2rem;
    border: 2px solid darkgray;
    border-radius: 15px;
    margin: 5px;
    color: white;
}

.navbar button:first-child {
    border: 2px solid dodgerblue;
}

/*Dùng cho các khung lớn*/
.bgColor{
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.btnColor {
    background: linear-gradient(to right,
    #6F86FF,   /* xanh nhạt hơn */
    #8F6FF5,   /* tím xanh trung gian */
    #C57AED,   /* tím hồng trung gian */
    #FF7CA0    /* hồng pastel */
    );}

.btnHover:hover {
    filter: brightness(0.85);
}

#avatarDropdown {
    text-decoration: none; /* xóa gạch chân */
    padding: 0;
    color: white;
}

#avatarDropdown button {
    display: inline-block;
    font-size: 1.2rem;
    border: none;
    margin: 5px;
}

/* Thu nhỏ avatar */
#avatarDropdown img {
    width: 40px; /* giảm kích thước */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}